<p>
Se encuentra registrada su petición de acceso a la información pública de la UNLP. A partir de este momento, se disponen de cinco días hábiles para resolver la admisibilidad de la misma.

Usted sera contactado a este email al momento que quede efectuada la resolucion de la misma.

En caso de encontrarse algún problema, usted sera debidamente notificado/a y dispondrá de dos días corridos para realizar la pertinente subsanación.</p>
