<p><%= f.text_field :search_endpoint, :size => 50, :label => :field_search_endpoint %></p>
<p><%= f.text_field :get_endpoint, :size => 50, :label => :field_get_endpoint %></p>
<p><%= f.text_field :token, :size => 50, :label => :field_token %></p>